/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


:root {
  --verde:#36D6AD;
  --coral: #FC7071;
  --creme: #FCF0E3;
  --cinza-escuro: #333333;
  --fundo-degrade: linear-gradient(97.54deg, #333333 35.49%, #FCF0E3 235.37%);
}

body {
    margin: 0;
    padding: 0;
    color: var(--creme);
    font-size: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

h1 {
    font-weight: bold;
    font-size: 6rem;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--verde);
  }

  .header-wrapper {
    height: 30vh;
    width: 100%;
    background: linear-gradient(-45deg, var(--coral), var(--cinza-escuro), var(--verde));
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}    


@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: var(--creme);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px var(--creme);
    z-index: -1;
    transition: 400ms ease-in 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in 0;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: var(--cinza-escuro);
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: var(--cinza-escuro);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--cinza-escuro);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: var(--creme);    
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 60vmax var(--creme);
    z-index: 1;
} 

#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
} 
  
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  
  .main {
    display: block;
    background: var(--cinza-escuro);
  }
  
  .container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  section.module p {
    margin-bottom: 40px;
  }
  
  section.module:last-child {
    margin-bottom: 0;
  }
  
  section.module h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
  
  section.module.content {
    padding: 40px 0;
    background: var(--fundo-degrade);
  }
  
  section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* essa é a propriedade responsável pelo efeito parallax*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-babackground-size: cover;
  }
  
  section.module.parallax-1 {
    background-image: url("../img/crepusculo.jpg");
  }
  
  section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 40%,
      #000 80%
    );  
  }
  
  section.module.parallax-2 {
    background-image: url("../img/sistema-estacionamento.gif");
  }
  
  section.module.parallax-3 {
    background-image: url("../img/verao.jpg");
  }
  
  
  /* RESPONSIVO */

@media (max-width:800px) {
  .social-media{
      display: flex;
      flex-direction: column;
  }

  body, ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 2px 4px 2px 2px;
  }
  
  h1 {
    font-size: 2em;
  }
}